.clear-fix {
    clear: both !important;
    display: block !important;
    font-size: 0 !important;
    line-height: 0 !important;
    border: none !important;
    padding: 0 !important;
    margin: 0 !important;
    list-style: none !important;
}

/* body {
    background-image:url("../images/milleniumFalconBackground.jpg");
    background-repeat: no-repeat;
    /* width:100%;
    margin: 10pts;
    padding: 10pts;
} */

/* .container{
    opacity:1;
    background-image:url("../images/milleniumFalconBackground.jpg");
    background-repeat: no-repeat; 

 } */

/* body, html {
     height: 100%;
     margin: 0;
 }

.bg {
    background-image:url("../images/milleniumFalconBackground.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;

}
.jumbotron {
    opacity:.5; */

/* } */

* {
    /* background-image:url("../images/milleniumFalconBackground.jpg"); */
    background-image: linear-gradient(to right top, #e7e7f6, #abacbe, #727489, #3c4157, #0a142a);
    /* background-image: linear-gradient(to right top, #13368b, #5f62a7, #9693c4, #cbc8e1, #ffffff);    background:lightblue; */
    /* background-repeat: no-repeat; */
    padding: 7pts;
    margin: 7pts;
}

/* #bg {
    padding:1%;
    margin: 1%;

} */

/* #lightGray {
    margin:10pts;
    padding:3%;
    background-image: linear-gradient(to right top, #ffffff, #cbc8e1, #9693c4, #5f62a7, #13368b);
} */

.header1 {
    color: black
    /* opacity:.8; */
}

.title {
    display: inline-block;
    /* top: 23px; */
    margin-top: 5%;
    margin-left: 6%;
    font-size: 33pt;
}

/* .photoSum {
    display: inline-block;
} */

.holder {
    margin: 3%;
    padding: 8%;
}

.name {
    color: black
    /* opacity:.9; */
}

.connect {
    color: black
}

.photo {
    color: black
}

.bio {
    color: black
    /* opacity:.6; */
}

.short-bio {
    color: black
    /* opacity:.6; */
}

p {
    color: black
    /* opacity:.6; */
}

.allWords {
    /* position: relative; */
    /* display: flex; */
    /* float: left; */
    margin-left: 44%;
    margin-top: 3%;
    width: 47%;
    font-size: large;
}

.portRowT {
    /* border: black 2pt solid; */
    width: 90%;
    height: 25%;
    padding: 1%;
    /* margin: 3%; */
    margin-left: 5%;
    margin-right: 3%;
    /* background: white; */
    display: inline-block;
}

#photoOpsPicT {
    /* top:100pt;
    float:left;
    width:140px;
    height: 160px;
    background:white;
    border:solid 2pt white;
    padding:3pt;
    padding-right:8pt; */
    /*image bio*/
    position: relative;
    top: 15%;
    left: 4%;
    float: left;
    width: 207px;
    height: 368px;
    background: repeating-radial-gradient(red);
    /* border: solid 2pt white; */
    padding: 3pt;
    padding-right: 8pt;
    border-radius: 5%;
    margin:2%

}

#photoOpsImgT {
    height: 368px;
    width: 207px;
    float: left;
    border-radius: 5%;
    position: relative;
    left: -7px;
    top: -8px;
}

#box8 {
    /*image bio*/
    top: 100pt;
    float: left;
    width: 140px;
    height: 160px;
    background: white;
    border: solid 2pt white;
    padding: 3pt;
    padding-right: 8pt;
}

#myBioPic {
    height: 160px;
    width: 140px;
    /* float:left; */
    border-radius: 50%;
    display: inline-block;
}

#box7 {
    background: white;
    padding: 3pt;
    margin: 3pt;
    font: 15pt;
    border: solid 2pt white;
    /* position:absolute; */
    top: 70px;
    left: 13px;
    width: 600px;
    height: 300px;
}

.portRow {
    width: 100%;
    height: auto;
    padding: 14pts;
    margin: 7pts;
}

/* the photo ops portfolio row */

#rowPhoto {
    color: black;
    background: white;
    padding: 3pt;
    margin: 3pt;
    font: 15pt;
    border: solid 2pt white;
    position: relative;
    top: 70px;
    left: 13px;
    width: 600px;
    height: 300px;
    /* opacity:.6; */
}

#photoOpsImg {
    /* height:120pt;
    width: 120pt; */
    height: 160px;
    width: 140px;
    /* display:block;
    clear: left; */
}

#photoOpsPic {
    top: 100pt;
    /* float: left; */
    width: 140px;
    /* height: 160px; */
    background: blue;
    border: solid 2pt white;
    padding: 3pt;
    padding-right: 8pt;
    height: 120pt;
    width: 120pt;
    transition: transform .2s;
    border-radius: 50%;
    /* display:inline-block; */
    float: left;
}
photoSum

#photoOpsPic:hover {
    /* background-color:orange; */
    transform: scale(1.15);
}

#photoExpanded {
    display: none;
}

#photoExpanded:hover {
    color: darkslategray;
    /* font-weight:8;
    opacity:.8; */
}

/* #photoSum {
    display: inline-block;
    float:right;
} */

#photoSum:hover {
    color: darkslategray;
}

#photoJeg {
    height: 120pt;
    width: 120pt;
    transition: transform .2s;
    border-radius: 10%;
}

#photoJeg:hover {
    transform: scale(1.15);
}

#JEGSum {
    display: block;
}

#JEGSum:hover {
    color: darkslategray;
}

#JEGExpand {
    display: none;
}

#JEGExpand:hover {
    color: darkslategray;
}

#burgerPic {
    height: 120pt;
    width: 120pt;
    transition: transform .2s;
    border-radius: 10%;
}

#burgerPic:hover {
    transform: scale(1.15);
}

#burgerExpand {
    display: none;
}

#burgerSum {
    display: block;
}

#burgerExpand:hover {
    color: darkslategray;
}

#burgerSum:hover {
    color: darkslategray;
}

#friendPic {
    height: 120pt;
    width: 120pt;
    transition: transform .2s;
    border-radius: 10%;
}

#friendPic:hover {
    transform: scale(1.15);
}

#friendExpand {
    display: none;
}

#friendSum {
    display: block;
}

#friendExpand:hover {
    color: darkslategray;
}

#friendSum:hover {
    color: darkslategray;
}

.rowJEG {
    color: black
}

.rowBurger {
    color: black
}

.rowFriend {
    color: black
    /* opacity:.8; */
}

#box12 {
    background-color: #666666;
    position: relative;
    display: block;
    width: 90%;
    text-align: center;
    font: 12pt;
    font: black;
    display: block;
    border: solid 2pt white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2%;
    padding: 7pt;
}